/*=======================================
        BASIC PROPERTIES STARTS
========================================*/
body {
	height: 2000px;
	overflow-x: hidden;
}

*{
	margin: 0;
	padding: 0;
}

/*=========================================
        BASIC PROPERTIES ENDS
=========================================*


/*=========================================
        NAVIGATION BAR STARTS
=========================================*/

.navbar {
	padding: 24px 0px;
	border-bottom: none !important;
	transition: all 0.5s ease-in-out;
}

.navbar ul li a {
	color: white !important;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 13px;
	transition: all 0.5s ease-in;
}

.navbar ul li a:hover
 {
	color: deepskyblue !important;
	background: none !important;
}

.navbar-toggle {
	border: 1px solid white !important;
	color: white !important;
	transition: all 0.5s ease-in;
}

.icon-bar {
	color: white !important;
	background-color: white !important;
}

.navbar-toggle:hover {
	background-color: deepskyblue !important;
}

.navbar-inverse .navbar-collapse {
	border-color: transparent !important;
}

.location {
	border: 1px solid white;
	border-radius: 50px;	
}

.navbar-inverse {
	background-color: transparent !important;
}

/*=========================================
        NAVIGATION BAR ENDS
=========================================*/


/*===================================================
       STICKY NAVIGATION WITH BACKGROUND COLOR
===================================================*/

.secondary {
	background-color: #34495e;
}


/*=========================================
       SLIDER STARTS
=========================================*/

.slider {
	width: 100%;
	height: 700px;  
	background-image: url(..//img/bg1.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.slider-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.65) !important;
	position: relative;
}

.slider-content {
	position: absolute;
	top: 39%;
	width: 100%;
}

.icons .fa {
	font-size: 35px;
	margin-right: 7px;
}


.cta-div {
	margin-top: 30px;
}

.btn1 {
	padding: 13px 18px;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	border: 2px solid white;
	border-top-left-radius: 15px;
	transition: all 0.5s ease-in;
	margin-right: -6px;
}

.btn1:hover {
	text-decoration: none;
	color: white;
	background-color: deepskyblue;
	border-color: deepskyblue;
}

.btn2 {
	padding: 13px 18px;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	border: 2px solid white;
	border-bottom-right-radius: 15px;
	transition: all 0.5s ease-in;
	margin-right: 10px;
}

.btn2:hover {
	text-decoration: none;
	color: white;
	background-color: orangered;
	border-color: orangered;
}

.social-networks a.fa {
	border: 1px solid white;
	padding: 10px;
	color: white;
	width: 35px;
	height: 35px;
	border-radius: 25px;
	margin-right: 2px;
	transition: all 0.5s ease-in;
}

.social-networks a.fa:hover {
	text-decoration: none;
	background-color: deepskyblue;
	color: white;
	border:1px solid deepskyblue;
}

/*---------jquery Start doubt---------*/

.slider .text, .slider .typed-cursor {
	display: inline;
	font-size: 50px;
	text-transform: uppercase;
}

.primary {
	color: orangered;
}

.typed-cursor {
	opacity: 1;
	animation: blink 0.7s infinite;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
}

@keyframes blink 
{
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink 
{
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink 
{
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*---------jquery Ends doubt---------*/

/*=========================================
       SLIDER ENDS
=========================================*/



/*=========================================
       SERVICES STYLES
=========================================*/

.service-area {
	margin-top: 30px;
}

.service-area p {
	margin-bottom: -5px;
}

.service-wrap {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	overflow: hidden;
	padding: 25px 35px;
	position: relative;
	transition: all 0.5s ease 0s;
	z-index: 9;
	margin-top: 20px;

}

.service-wrap::before, .service-wrap::after {
	content: "";
	height: 300%;
	position: absolute;
	transform: rotate(45deg);
	width: 120%;
	z-index: -9;
	transition: all 0.5s;
	opacity: 0;
	background: #34495e;

}

.service-wrap::before {
	top: -37px;
	left: 100%;
}

.service-wrap:hover:before {
	left:-27px;
	opacity: 1;
}

.service-wrap::after {
	right: 100%;
	bottom: -37px;
}

.service-wrap:hover:after {
	right:-27px;
	opacity: 1;
}

.service-wrap:hover {
	color: white;
}

.service-wrap:h3 {
	color: white;
}

.service-wrap:hover:h3 {
	color: white;
}

.service-wrap:hover:h3:after {
	background-color: white;
}

.service-icon i {
	font-size: 30px;
	margin-bottom: 20ox;
	transition: all 0.5s;
}

.service-wrap:hover .service-icon i {
	transform: rotate(360deg);
}

.service-wrap h3 {
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 15px;
	position: relative;
}

.service-wrap p {
	font-size: 14px;
	margin-bottom: 0;
}

/*=========================================
       WORK STYLES STARTS
=========================================*/

.work {
	margin-top: 25px;
}

.row.no-gutters [class*=col-]            /*--------------------LEARN MORE----------------------- */
{
	padding-left: 0;
	padding-right: 0;
}

.img-wrapper {
	overflow: hidden;
}

.img-wrapper img {
	transition: transform 0.5s ease
	width: 100%;
}

.img-wrapper img:hover {
	transform: scale(1.5);
	cursor: zoom-in;
}

/*=========================================
       WORK STYLES ENDS
=========================================*/

/*=========================================
       TEAM STYLES START
=========================================*/

.team-member {
	margin-top: 50px;
}

.team-member {
	margin: 0 15px;
}

.team-member-info {
	padding: 10px 0 30px 0;
}

h4.team-member-name {
	font-size: 19px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-top: 2px;
}

h4.team-member-designation {
	color: #34c6d3;
	font-size: 15px;
	font-weight: 700t
	letter-spacing: 1px;
	margin-top: 5px;
	text-transform: capitalize;
}

.social-list {
	padding-left: 0;
}

.social-list li {
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
}

.social-list i {
	font-size: 17px;
}

.icon-gray {
	color: #64707b;
}

/*=========================================
       TEAM STYLES ENDS
=========================================*/

/*========================================
		TESTIMONIALS MARKUP
========================================*/

.carousel-inner img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 3px solid deepskyblue;
	padding: 5px;

}

.testimonials {
	background-color: #FFE4C4;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;  	
	color: deepskyblue; /* color was changed*/
	padding-top: 10px;
	padding-bottom: 155px;
}

.testimonials .carousel-indicator {
	bottom: -60px;	
}

.border-bottom {
	width:40px;
	height: 2px;
	background-color:deepskyblue; 
	margin: 0 auto;
}

.carousel-inner p {
	font-size: 17px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 30px;  /* This statement i don't like.... */
}


.footer {
  
   bottom: 0;
   width: 100%;
   height: 6
   0px;
   /*background-color: gray;*/
   color: white;
   text-align: center;
   background: linear-gradient(135deg, #FFB6C1, #DB7093);
   font-weight: 600;
   border-radius: 50px;
}
.footer:hover {
	background: linear-gradient(-135deg, #FFB6C1, #DB7093);
}
.footer i {
	color: #800000
}
.footer a:hover {
	color: #FF1493; 
}
.footer a:visited {
	color: ##C71585;
}